@charset "utf-8";
#scroller{
    ul{
        margin-top:.2rem;
        padding:0 .2rem;
        li{
            width:100%;
            height:2.08rem;
            display:flex;
            justify-content: flex-start;
            margin-bottom:.2rem;
            .imgbox{
                width:1.8rem;
                height:1.8rem;
            }
            .info{
                width:5.3rem;
                box-sizing: border-box;
                padding-left:.2rem;
                height:1.8rem;
                border-bottom:1px solid #e1e1e1;
                .goodname{
                    margin-top:.2rem;
                    font-size:.3rem;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: normal;
                    line-height:.5rem;
                    height:1rem;
                    overflow: hidden;
                }
                .price{
                    font-size:.3rem;
                    color:#F13B51;
                    font-weight:600;
//                  border-bottom: 1px dashed #000000;
                    line-height:.5rem;
                }
            }
            .sellerbox{
                display:none;
            }
        }
    }
}
