@charset "utf-8";
@import "reset.css";

.wrapper{
    overflow-x:hidden;
    background:#f0f0f0;
    width:100%;
    header{
        background:#fff;
        border:1px solid #e6e6e6;
        width:100%;
        height:.9rem;
        span:nth-child(1){
            float:left;
            width:.95rem;
            height:.9rem;
            background:url(../img/arrowLeftRed.png) no-repeat;
            background-size:.95rem .9rem;
        }
        h1{
            font-size:0.34rem;
            font-weight:bold;
            font-family: "微软雅黑";
            float:left;
            width:5.6rem;
            height:.9rem;
            line-height:.9rem;
            text-align:center;
        }
    }//头部
    .consignee{
        background:#fff;
        position:relative;
        box-sizing: border-box;
        width:100%;
        height:1.70rem;
        padding:.3rem .8rem .2rem .3rem;
        .add_address{
            p{
                padding-left:.76rem;
                line-height: 1.2rem;
                background-image: url(../img/add_03.png);
                background-repeat: no-repeat;
                background-size: .56rem;
                background-position-x: 0;
                background-position-y: .3rem;
                font-size:.26rem;
            }
        }
        .consignee_info{
            font-size:.26rem;
            .phoneNum{
                float:right;
            }
            .info_address{
                margin-top:.1rem;
                color:#666;
                line-height:.35rem;
            }
        }
        .rightIcon{
            display:block;
            width:.14rem;
            height:.22rem;
            position:absolute;
            right:.3rem;
            top:0.8rem;
            background:url(../img/rightArrow.png) no-repeat;
            background-size:.14rem;
        }
    }//收货人
    .order_info{
        box-sizing: border-box;
        padding:.2rem .3rem .2rem .2rem;
        width:100%;
        height:1.8rem;
        background:#f7f7f7;
        .imgbox{
            float:left;
            width:1.4rem;
            height:1.4rem;
            margin-right:.1rem;
           img{
               width:1.4rem;
               height:auto;
           } 
        }//订单图片
        .order_detail{
            float:right;
            width:5.5rem;
            h3{
                font-size:.26rem;
                line-height:.38rem;
                font-weight:normal;
            }
            .price{
                margin-top:.3rem;
                color:#e31436;
                font-size:.20rem;
                span{
                    font-size:.32rem;
                    font-weight:600;
                }
                b{
                    margin-top:.05rem;
                    float:right;
                    color:#666;
                    i{
                        margin-left:.05rem;
                    }
                }
            }
        }//订单详情
        
    }//订单信息
    .message{
        font-size:.26rem;
        background:#fff;
        margin-bottom:.2rem;
        p{
            margin:0 .2rem;
            line-height:1rem;
            overflow:hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            input{
                width:6rem;
            }
        }
    }//留言
    .cost{
        font-size:.26rem;
        background:#fff;
        border-bottom:1px solid #E6E6E6;
        color:#666;
        p{
            line-height:1rem;
            margin:0 .2rem;
        }
    }//运费
    .delivery{
        font-size:.26rem;
        background:#fff;
        color:#333;
        margin-bottom:.2rem;
        p{
            line-height:1rem;
            margin:0 .2rem;
            span{
                color:#999;
                float:right;
            }
        }
    }//配送
    .pay{

        background-color: #fff;
        h4{
            padding:0 .2rem;
            font-size:.24rem;
            color:#666;
            line-height:.64rem;
            border-bottom:1px solid #E6E6E6;
            
        }
        .pay_method{
            li{
                padding-left:.7rem;
                background-image:url(../img/pay_unactive.png);
                background-repeat: no-repeat;
                background-size: .32rem;
                background-position-x: .2rem;
                background-position-y: .34rem;
                height:1rem;
                border-bottom:1px solid #E6E6E6;
                p{
                    padding-left: .6rem;
                    //background-image: url(../img/alipay.png);
                    background-repeat: no-repeat;
                    background-size: .4rem;
                    background-position-y: .3rem;
                    line-height:1rem;
                    font-size:.26rem;
                    color:#222;
                    span{
                        margin-left:.2rem;
                        font-size:.20rem;
                        color:#b4b4b4;
                    }
                }
            }
            li:nth-child(1) p{
                background-image: url(../img/alipay.png);
            }
            li:nth-child(2) p{
                background-image: url(../img/wechatpay.png);
            }
            li:nth-child(3) p{
                background-image: url(../img/userpay.png);
            }
            .active{
                background-image: url(../img/pay_active.png);
            }
        }
    }//支付
    footer{
       
        margin-top:.5rem;
        border:1px solid #e6e6e6;
        width:100%;
        height:1rem;
        background:#fff;
        a{
            float:right;
            width:2rem;
            height:1rem;
            color:#fff;
            background-color: #F13B51;
            text-align: center;
            line-height: 1rem;
            font-size:.3rem;
        }
        p{
            float:right;
            line-height:1rem;
            font-size:.26rem;
            color:#666;
            margin-right:.2rem;
            span{
                color:#F13B51;
                i{
                    font-size:.36rem;
                    font-weight: 600;
                }
            }
        }
    }
}
