@charset "utf-8";
@import "reset.css";
.wrapper{
    width:100%;
    overflow-x:hidden;
    header{
        border:1px solid #e6e6e6;
        width:100%;
        height:.9rem;
        span:nth-child(1){
            float:left;
            width:.95rem;
            height:.9rem;
            background:url(http://og20zwqwb.bkt.clouddn.com/arrowLeft.png) no-repeat;
            background-size:.95rem .9rem;
        }
        h1{
            font-size:0.34rem;
            font-weight:bold;
            font-family: "微软雅黑";
            float:left;
            width:5.6rem;
            height:.9rem;
            line-height:.9rem;
            text-align:center;
        }
    }
    .formInfo{
        overflow: hidden;
        width:100%;
        box-sizing: border-box;
        padding-top:1.1rem;
        padding-left:.86rem;
        padding-right:.86rem;
        div:nth-child(1){
            border-bottom:1px solid #b7b7b7;
            height:.6rem;
    //      padding:.1rem 0;
            span{
                box-sizing: border-box;
                display:block;
                float:left;
                background:url(http://og20zwqwb.bkt.clouddn.com/downicon.png) no-repeat;
                background-position:.8rem center;
                background-size:0.14rem;
                font-size:.24rem;
                width:1rem;
                margin:.1rem 0;
                height:0.3rem;
                line-height:.3rem;
                border-right:1px solid #999;
                padding-left:.2rem;
            }
            #phoneNumber{
                box-sizing: border-box;
                display:block;
                float:left;
                margin:.05rem .1rem .05rem .1rem;
                padding-left:.2rem;
                height:.4rem;
                font-size:.28rem;
                border:0;
                
            }
        }
        div:nth-child(2){
            margin-top:.4rem;
            height:.6rem;
            border-bottom:1px solid #b7b7b7;
            input{
                display:block;
                height:.4rem;
                float:left;
                width:4rem;
            }
            span{
                float:left;
                padding-left:.1rem;
                line-height:.4rem;
                height:.4rem;
                border-left:1px solid #B7B7B7;
                color:#F13B51;
            }
        }
        div:nth-child(3){
            position:relative;
            margin-top:.4rem;
            border-bottom:1px solid #b7b7b7;
            height:.6rem;
            input{
                width:4rem;
                display:block;
                border:0;
                height:.4rem;
                font-size:.28rem;
                line-height:.4rem;
            }
            span,.switch{
                display:block;
                float:right;
                width:.43rem;
                height:.25rem;
                background:url(http://og20zwqwb.bkt.clouddn.com/ceye_btn.png) no-repeat;
                background-size:.43rem auto;
                position:absolute;
                top:.1rem;
                right:.2rem;
                
            }
            .switch{
                background:url(http://og20zwqwb.bkt.clouddn.com/eye_btn.png) no-repeat;
                background-size:.43rem auto;
            }
        }
        #register{
            border:0;
            display:block;
            background:#f13b51;
            width:5.8rem;
            height:.8rem;
            margin:.8rem auto .3rem auto;
            font-size:.32rem;
            border-radius:.5rem;
            color:#fff;
            
        }
        .agreement{
            margin-left:.8rem;
            position:relative;
            input[type="checkbox"]{
                visibility: hidden;
            }
            label{
                
                span{
                    display:inline-block;
                    width:.24rem;
                    height:.24rem;
                    position:absolute;
                    background:url(http://og20zwqwb.bkt.clouddn.com/checked.png) no-repeat;
                    background-size:.24rem;
                    top:.03rem;
                    left:0;
                }
                .false{
                    background:url(http://og20zwqwb.bkt.clouddn.com/unchecked.png) no-repeat;
                    background-size:.24rem;
                }
            }
            span{
                font-size:.24rem;
                color:#999;
            }
        }
    }//formInfo
}
